.profile__photo-button {
  margin: 0;
  padding: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: none;
  border: none;
  cursor: pointer;
  z-index: 1;
  transition: background-color 0.15s linear;
}

.profile__photo-button:hover {
  background: url(../../../images/buttons/edit-button.svg) no-repeat rgba(0, 0, 0, 0.8);
  background-position: center;
  background-size: 26px 26px;
}